//**************VARIABLES***********//
$breakpoints: (
  "tablet": 768px,
  "desktop": 1024px,
);

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$dark-grey: #d2d2d2;
$light-grey: #eaeaea;
$white: #ffffff;
$middle-grey: #f6f6f6;
$icon-grey: #7e7e7e;
$hover-purple: #9356dc;
$black: #000000;
$green: #008766;
$light-black: #353535;

//**************MIXIN**************//

@mixin animation-text-dish {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-duration: 500ms;
}

@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-gradiant {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  background: linear-gradient(360deg, $primary-color 0%, $secondary-color 100%);
  border: none;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  transition: all 450ms;

  &:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    background: linear-gradient(
      360deg,
      $primary-color 0%,
      $secondary-color 50%
    );
  }
}

@mixin tablet {
  @media screen and (min-width: map-get($breakpoints, "tablet")) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints, "desktop")) {
    @content;
  }
}

//*************GENERAL*********//

* {
  max-width: 767px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  object-fit: cover;

  @include tablet {
    max-width: 1024px;
  }

  @include desktop {
    max-width: 1444px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: 275px;

  @include desktop {
    width: 100%;
    height: 430px;
    position: relative;
    top: 32px;
  }
}

.fa-circle-check {
  position: absolute;
  right: 86px;
  bottom: 20px;
}
//*************** HEADER ***************//

.header {
  @include flexcenter;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 63px;
  position: relative;

  @include desktop {
    box-shadow: none;
    top: 17px;
  }

  &__title {
    font-family: "Shrikhand", cursive;
    font-weight: 400;
    font-size: 30px;
  }

  &__icon {
    position: absolute;
    left: 23px;
    bottom: 23px;
  }
}

//***************CARD+BODY*******************//

main {
  background-color: $middle-grey;

  @include desktop {
    background-color: $white;
    display: flex;
    justify-content: center;
  }
}

.menu {
  background: $middle-grey;
  border-radius: 40px 40px 0px 0px;
  height: 1150px;
  position: relative;
  top: -45px;

  @include desktop {
    width: 72%;
    display: flex;
    flex-direction: column;
    top: 0;
  }

  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 28px;
    font-weight: 400;
    padding-left: 17px;
    padding-top: 40px;

    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
}

//******************DISH************//

.dish {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
  &__animation {
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
  }

  @keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__enter {
    animation-delay: 250ms;
  }

  &__plat {
    animation-delay: 500ms;
  }

  &__dessert {
    animation-delay: 750ms;
  }

  &__line {
    border: 2px solid #99e2d0;
    width: 40px;
    margin-left: 13px;

    @include tablet {
      width: 95%;
    }

    @include desktop {
      width: 40px;
      margin-left: 177px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 300;
    padding-top: 40px;
    padding-left: 13px;

    @include tablet {
      display: flex;
      justify-content: center;
    }

    @include desktop {
      justify-content: flex-start;
      padding-left: 177px;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;

    @include desktop {
      width: 65%;
      padding-left: 150px;
    }
  }

  &__choice {
    padding: 10px 10px 15px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 10px $black;
    border-radius: 20px;
    height: 43px;
    width: 86%;
    position: relative;
    gap: 5px;
    font-weight: 700;
    overflow: hidden;

    &:hover div {
      cursor: pointer;
      margin-right: 60px;
      transition-duration: 500ms;
    }
  }

  &__animtext {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 80%;
    @include animation-text-dish;

    &:hover {
      width: 60%;
      transition-duration: 500ms;
    }
  }

  &__check {
    border: 0;
    position: absolute;
    top: 0px;
    right: -65px;
    background-color: $tertiary-color;
    height: 100%;
    width: 65px;
  }

  &__name {
    font-weight: bold;
    font-size: 18px;
    @include animation-text-dish;
  }

  &__detail {
    font-weight: 300;
    font-size: 15px;
    @include animation-text-dish;
  }

  &__price {
    position: absolute;
    right: 83px;
    bottom: 13px;
  }

  &__button {
    @include flexcenter;
    margin-top: 40px;
  }

  &__command {
    @include button-gradiant;
  }
}

//*****************FOOTER*****************//

.foot {
  background: $light-black;
  color: $white;
  padding-left: 25px;
  padding-top: 22px;
  padding-bottom: 22px;

  @include tablet {
    padding-left: 0px;
  }

  @include desktop {
    display: flex;
    height: 79px;
    align-items: flex-end;
    justify-content: center;
  }

  &__title {
    font-family: "Shrikhand", cursive;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 16px;

    @include tablet {
      display: flex;
      justify-content: center;
      font-size: 35px;
      padding-bottom: 15px;
    }

    @include desktop {
      font-size: 18px;
      padding: 0;
      position: absolute;
      right: 80px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 7px;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
    }

    @include desktop {
      gap: 37px;
      right: 225px;
      position: absolute;
    }
  }

  &__link {
    list-style-type: none;
    display: flex;
    gap: 14px;
  }

  &__icon {
    width: 13px;
    height: 13px;
  }
}
